*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#fce7c7;
line-height:1.6;
}

header{
background:#111;
color:white;
text-align:center;
padding:40px;
}

header h1{
font-size:48px;
margin-bottom:10px;
}

nav{
background:#222;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-weight:bold;
}

nav a:hover{
color:#ff9800;
}

.hero{
display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:center;
padding:40px;
background:#fdecd2;

}

.hero img{
border-radius:10px;
margin:20px;
height: 400px; 
width: 680px;
}

.hero-text{
max-width:600px;
}

section{
padding:60px 10%;
background:#fdecd2;
margin-top:10px;
}

section h2{
text-align:center;
margin-bottom:30px;
font-size:32px;
}

.timeline{
border-left:4px solid #ff9800;
padding-left:30px;
}

.timeline div{
margin-bottom:25px;
}

.achievements{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#f9e6c9;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:0.1s;

}
.achievements div:hover{
transform:scale(1.05);
}
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:10px;
cursor:pointer;
transition:0.3s;
height: 210px;
}

.gallery img:hover{
transform:scale(1.05);
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.modal img{
max-width:80%;
border-radius:10px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:20px;
}
footer a{
    text-decoration: none;
    color: orange;
}
footer a:hover{
color:#c57805;
}

button{
background:#ff9800;
border:none;
padding:10px 20px;
color:white;
margin-top:20px;
cursor:pointer;
border-radius: 5px;
}

button:hover{
background:#e68900;
}

